<footer class="bg-[#FF5A00] text-[#eee] text-sm sm:text-base font-medium py-6 px-4 sm:px-10 min-h-screen flex items-center justify-center">
  <div class="flex flex-col items-center gap-6 w-full">
    <!-- Contenido del footer -->
    <h1 class="text-4xl font-bold text-center transition-all duration-300 hover:text-black hover:scale-150">
      Contáctanos en <span class=" hover:text-black hover:scale-150 transition-all duration-300">info@saraquintana.es</span>
    </h1>
    <a 
      href="https://www.instagram.com/sqstudiodm/" 
      target="_blank" 
      rel="noopener noreferrer" 
      class="bg-white text-[#FF5A00] text-center font-semibold px-6 py-3 rounded-full hover:bg-[#FF7F32] transition"
    >
      O en Instagram
    </a>
  </div>
</footer>