---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import Button from "../shared/Button.astro";
---

<section id="features" class="relative pt-24 pb-24 lg:pt-20 lg:pb-2">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        <div class="absolute w-full lg:w-1/2 inset-y-0 lg:right-0">
            <span class="absolute -left-6 md:left-4 top-24 lg:top-28 w-4 h-4 rotate-90 skew-x-12 rounded-3xl bg-green-400 blur-xl opacity-60 lg:opacity-95 lg:block hidden"></span>
            <span class="absolute right-4 bottom-12 w-24 h-24 rounded-3xl bg-primary blur-xl opacity-80"></span>
        </div>
        
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <Title class="text-black dark:text-white">
                Identidad de marca            
            </Title>
            <Paragraph className="mt-2  text-black dark:text-white">
               --------------------------------------------
            </Paragraph>
           
        </div>

        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            
            <Paragraph className="mt-8 text-black dark:text-white text-lg lg:text-xl">
                Convertimos la estrategia de marca en una identidad visual y verbal poderosa, optimizada para conectar emocionalmente con tu audiencia y reforzar su posicionamiento
            </Paragraph>
           
            <ul class="mt-8 space-y-4 text-heading-3 font-medium text-black dark:text-white text-lg lg:text-xl">
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Naming 
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Branding e identidad visual

                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Carteleria e infografias


                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Packaging


                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Diseño editorial

                </li>
               
            </ul>
            <div class="mt-8">
           
        </div>
       
    </Container>
</section>