---
import FlowingMenu from '../../components/FlowingMenu.jsx';

const demoItems = [
  { text: 'CÓDIGO PERSONALIZADO', image: '/proyectos/9.webp' },
  { text: 'DISEÑO INNOVADOR', image: '/proyectos/3.webp' },
  { text: 'POSICIONAMIENTO', image: '/proyectos/2.webp' },
  { text: 'BRANDING', image: '/proyectos/1.webp' }
];
---
<div style={{ height: '600px', position: 'relative' }}>
  <FlowingMenu 
    client:load 
    items={demoItems} />
</div>