---
import Container from "../shared/Container.astro";
import SplashCursor from "../../components/SplashCursor.jsx";
import AnimatedText from "../../components/AnimatedText.jsx";
import AnimatedText2 from "../../components/AnimatedText2.jsx";
---

<section class="relative h-screen" id="Hero">
    
    <video 
        id="scrolling-video"
        src="/images/video1.mp4" 
        autoplay 
        loop 
        muted 
        playsinline 
        class="absolute inset-0 w-full h-full object-cover -z-10 lg:h-full">
        
    </video>
    
    <Container class="flex flex-col lg:flex-row gap-10 lg:gap-12 mb-0">
        <div class="absolute w-full lg:w-1/2 inset-y-0 lg:right-0">
            <span class="absolute -left-6 md:left-4 top-24 lg:top-28 w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-green-400 blur-xl opacity-60 lg:opacity-95 lg:block hidden"></span>
            <span class="absolute right-4 bottom-12 w-24 h-24 rounded-3xl bg-primary blur-xl opacity-80"></span>
        </div>
        <span class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-primary to-green-400 absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"></span>
        
        <div class="relative z-10">
            <AnimatedText client:load />
        </div>
        <div class="relative z-10">
            <AnimatedText2 client:load />
            
        </div>  
        

        <section>
            <SplashCursor client:load />
        </section>
    </Container>

    <script>
        if (typeof window !== "undefined") {
            window.addEventListener("scroll", () => {
                const video = document.getElementById("scrolling-video");
                const scrollPosition = window.scrollY;
                const scale = 1 + scrollPosition * 0.005; // Ajusta el factor de ampliación según sea necesario
                video.style.transform = `scale(${scale})`;
            });
        }
    </script>
</section>
