---
import Container from "../shared/Container.astro";
import InfiniteMenu from "../../components/InfiniteMenu.jsx";
---

<section>
  <div style="height: 600px; weight: 900px;  position: relative; ">
    <InfiniteMenu
      client:load
      items={[
        {
          image: '/proyectos/1.webp',
          link: 'https://www.instagram.com/sqagency/',
        },
        {
          image: '/proyectos/2.webp',
          link: 'https://www.instagram.com/sqagency/',
        },
        {
          image: '/proyectos/3.webp',
          link: 'https://www.instagram.com/sqagency/',
        },
        {
          image: '/proyectos/4.webp',
          link: 'https://www.instagram.com/sqagency/',
        },
        {
          image: '/proyectos/5.webp',
          link: 'https://www.instagram.com/sqagency/',
        },
        {
          image: '/proyectos/6.webp',
          link: 'https://www.instagram.com/sqagency/',
        },
        {
          image: '/proyectos/7.webp',
          link: 'https://www.instagram.com/sqagency/',
        },
        {
          image: '/proyectos/8.webp',
          link: 'https://www.instagram.com/sqagency/',
        },
        {
          image: '/proyectos/9.webp',
          link: 'https://www.instagram.com/sqagency/',
        },
        {
          image: '/proyectos/10.webp',
          link: 'https://www.instagram.com/sqagency/',
        },
        {
          image: '/proyectos/11.webp',
          link: 'https://www.instagram.com/sqagency/',
        },
        {
          image: '/proyectos/12.webp',
          link: 'https://www.instagram.com/sqagency/',
        },
        {
          image: '/proyectos/13.webp',
          link: 'https://www.instagram.com/sqagency/',
        },
        {
          image: '/proyectos/14.webp',
          link: 'https://www.instagram.com/sqagency/',
        },
        {
          image: '/proyectos/15.webp',
          link: 'https://www.instagram.com/sqagency/',
        },
        {
          image: '/proyectos/16.webp',
          link: 'https://www.instagram.com/sqagency/',
        },
        {
          image: '/proyectos/17.webp',
          link: 'https://www.instagram.com/sqagency/',
        },
        {
          image: '/proyectos/18.webp',
          link: 'https://www.instagram.com/sqagency/',
        },
        {
          image: '/proyectos/19.webp',
          link: 'https://www.instagram.com/sqagency/',
        },
        {
          image: '/proyectos/20.webp',
          link: 'https://www.instagram.com/sqagency/',
        },
        {
          image: '/proyectos/21.webp',
          link: 'https://www.instagram.com/sqagency/',
        }
      ]}
    />
  </div>
</section>