---
import Container from "../shared/Container.astro";
---
<Container>
<section class="py-16">
    <div class="container mx-auto px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-gray-800 dark:text-gray-200 mb-6">Términos y Condiciones</h1>
        <p class="text-gray-600 dark:text-gray-400 mb-4">
            Política de Privacidad Última actualización: 5 de enereo de 2024 En 'SaraQuintana', respetamos tu privacidad y estamos comprometidos a proteger l
            a información personal que compartes con nosotros. Esta Política de Privacidad explica cómo recopilamos, usamos y protegemos tu información. 
            1. Información que recopilamos Podemos recopilar la siguiente información: Datos personales como nombre, correo electrónico, teléfono u otra i
            nformación que proporciones voluntariamente al completar formularios. Datos de navegación como direcciones IP, tipo de navegador, y páginas visitadas. 
            2. Cómo usamos tu información Usamos tu información para: Proveer, operar y mantener nuestro sitio web. Enviar correos electrónicos relacionados con 
            tus consultas o solicitudes. Analizar y mejorar nuestros servicios y funcionalidades. 3. Cookies Utilizamos cookies para mejorar tu experiencia en nuestro 
            sitio web. Puedes deshabilitar las cookies a través de la configuración de tu navegador, pero algunas funcionalidades del sitio podrían verse afectadas. 
            4. Compartir información No vendemos, intercambiamos ni transferimos tu información personal a terceros, salvo cuando sea necesario para: Cumplir con obligaciones 
            legales. Mejorar nuestros servicios mediante socios confiables. 5. Seguridad Adoptamos medidas de seguridad razonables para proteger tu información personal. 
            Sin embargo, ningún método de transmisión en línea es completamente seguro. 6. Tus derechos Dependiendo de tu ubicación, puedes tener derechos adicionales, 
            como acceder, corregir o eliminar tu información personal. Contáctanos en info@saraquintana.es para ejercer estos derechos. 
            7. Contacto Si tienes preguntas sobre esta Política de Privacidad, puedes contactarnos en: SQ Correo electrónico: 
            info@saraquintana.es Términos de Uso Última actualización: 25.01.25 Al acceder y usar [Nombre de tu Sitio Web], aceptas cumplir 
            con estos Términos de Uso. Si no estás de acuerdo con ellos, te pedimos que no utilices el sitio. 
            1. Uso permitido Puedes usar nuestro sitio para propósitos personales y no comerciales, siempre que cumplas con las leyes aplicables y estos términos.
             2. Propiedad intelectual Todo el contenido en este sitio (texto, imágenes, logotipos, diseño, etc.) es propiedad de [Nombre de tu Empresa] o de nuestros 
             licenciantes. Está prohibido reproducir, distribuir o modificar este contenido sin nuestra autorización previa. 
            3. Conducta prohibida Al usar nuestro sitio, aceptas no: Realizar actividades ilegales. 
            Acceder o intentar acceder a áreas restringidas. Usar contenido del sitio sin autorización. 
            4. Exclusión de responsabilidad El contenido de este sitio es proporcionado "tal cual" y no garantizamos que esté libre de errores o que cumpla con tus expectativas. No somos responsables por daños derivados del uso de nuestro sitio. 
            5. Modificaciones Nos reservamos el derecho de modificar estos Términos de Uso en cualquier momento. Te notificaremos sobre cambios importantes a través del sitio o correo electrónico. 
            6. Ley aplicable Estos términos se rigen por las leyes de Esapaña. 
            Cualquier disputa será resuelta en los tribunales correspondientes de Santa Cruz de Tenerife. 
            7. Contacto Si tienes preguntas sobre estos Términos de Uso, contáctanos en: SQ Correo electrónico: info@saraquintana.es        </p>
       
    </div>
</section>
</Container>
