---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import Button from "../shared/Button.astro";
---

<section id="features" class="relative pt-4 pb-8 lg:pt-32 lg:pb-32 bg-body opacity-80">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
            <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                <img src="/images/porfoliorrss.webp" alt="Descripción de la imagen" class="w-full h-full object-cover">
                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"></div>
                <div class="absolute p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"></div>
            </div>
        </div>
        
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <h2><Title class="text-white">
                PRÓXIMAMENTE
            </Title></h2>
            <Paragraph className="mt-8 text-black dark:text-white">
                ¿Quieres ver ejemplos de nuestro trabajo? Explora nuestro portfolio y descubre nuestros proyectos recientes para inspirarte y convencerte de lo que podemos hacer por ti
            </Paragraph>
            <div class="mt-8">
                <a href="/proyectos" class="inline-block">
                    <Button variant="primary">
                        <span class="text-white">Ver Proyectos</span>
                    </Button>
                </a>
            </div>
        </div>
    </Container>
</section>