---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
---

<section id="features" class="relative pt-24 pb-24 lg:pt-32 lg:pb-32 bg-[#4f46e5]">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">

            <Title class="text-white">
                Digital Branding           
            </Title>
            <Paragraph className="mt-2 text-white">
               -----------------------------------
            </Paragraph>
           
        </div>

        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            
            <Paragraph className="mt-8 text-white text-lg lg:text-xl">
                El digital branding mediante diseño y desarrollo web es clave para destacar. Creamos sitios web atractivos y optimizados que reflejan tu marca, mejoran la experiencia del usuario y aumentan las conversiones
            </Paragraph>
           
            <ul class="mt-8 space-y-4 text-heading-3 font-medium text-white text-lg lg:text-xl">
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Diseño y desarrollo web personalizado 

                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Soporte y asesoramiento técnico


                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Mantenimiento y soporte de servidores 

                </li>
              
            </ul>
            <div class="mt-8">
           
        </div>
       
    </Container>
</section>