---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import Button from "../shared/Button.astro";
---

<section id="features" class="relative pt-0 pb-24 lg:pt-32 lg:pb-32 bg-body opacity-80">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <h2><Title className="mt-5 text-black dark:text-white text-lg lg:text-xl">
                <span class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600">  Desarrollo</span> web personalizado 
            </Title></h2>
            <h4><Paragraph className="mt-8 text-black dark:text-white text-lg lg:text-xl">
                Una vez que el cliente aprueba el diseño, avanzamos a la etapa de desarrollo, 
                donde transformamos esa visión en un sitio web funcional y optimizado. En esta fase, 
                la comunicación sigue siendo clave: mantenemos un diálogo constante para asegurarnos de que 
                cada funcionalidad, animación e interacción cumpla con tus expectativas y necesidades. 
                Implementamos tecnologías modernas para garantizar un rendimiento eficiente, tiempos de carga rápidos y 
                una experiencia de usuario fluida. Nuestro objetivo es que el sitio no solo luzca bien, sino que también 
                ofrezca una navegación intuitiva y una estructura sólida que impulse lel posicionamiento de tu negocio.            
            </Paragraph></h4>
        </div>
        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex flex-col w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto space-y-8">
            
            <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                <div class="absolute top-4 right-25 bg-primary text-white dark:text-white text-sm sm:text-base font-semibold px-3 py-1 rounded-lg shadow-lg">
                    Desarrollo
                </div>
                <img src={"images/desarrollo.webp"} alt="Desarrollamos una estrategia" 
                width="1240" height="1385"
                class="w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full" />
            </div>  
        </div> 

    
    </Container>
</section>
