---
import Layout from "../layouts/Layout.astro";
import AlavaW from "../components/subsections/AlavaW.astro";
---
<meta charset="UTF-8">
<link rel="canonical" href="https://saraquintana.info">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
	content="Creación de páginas webs en Álava">
<meta property="og:title" content="Sara Quintana Diseños para webs, implementación y mantenimiento">
<meta property="og:description"
	content="Empresa que trabaja en el sector del diseño gráfico y la programación de páginas web para dar vida a tu marca">
<meta property="og:image" content="images/portada1.png">
<meta property="og:url" content="https://saraquintana.es">
<meta property="og:type" content="website">
<meta property="og:locale" content="es_ES">
<meta property="og:site_name" content="Sara Quintana Diseño gráfico y branding">
<meta property="og:image:alt" content="Estás a un click de cambiar tu futuro">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<Layout title=" | Diseño Gráfico y Marca">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">

		<AlavaW />
		
	</main>
</Layout>