---
import Layout from "../layouts/Layout.astro";
import MadridW from "../components/subsections/MadridW.astro";
import PontevedraW from "../components/subsections/PontevedraW.astro";
---
<meta charset="UTF-8">
<link rel="canonical" href="https://saraquintana.info/">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
	content="Diseño gráfico y Editorial para acelerar el crecimiento de tus proyectos tanto en internet como físicos">
<meta property="og:title" content="Sara Quintana Diseños para maquetación, webs, cartelería y redes sociales">
<meta property="og:description"
	content="Empresa que trabaja en el sector del diseño gráfico y la programación de páginas web para dar vida a tu marca">
<meta property="og:image" content="images/portada1.png">
<meta property="og:url" content="https://saraquintana.es">
<meta property="og:type" content="website">
<meta property="og:locale" content="es_ES">
<meta property="og:site_name" content="Sara Quintana Diseño gráfico y branding">
<meta property="og:image:alt" content="Estás a un click de cambiar tu futuro">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<Layout title=" | Diseño Gráfico y Marca">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">

		<PontevedraW />
		
	</main>
</Layout>

