---
import Layout from "../layouts/Layout.astro";
import Herop from "../components/sections/Herop.astro";
import Rrss from "../components/sections/Rrss.astro";
import Rrss1 from "../components/sections/Rrss1.astro";
import Rrss2 from "../components/sections/Rrss2.astro";
import Rrss3 from "../components/sections/Rrss3.astro";
---
<meta charset="UTF-8">
<link rel="canonical" href="https://saraquintana.info">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
	content="Diseño gráfico y Redes Sociales para posicionarte con la mejor imagen de MARCA">
<meta property="og:title" content="Sara Quintana Diseños CREATIVOS para redes sociales">
<meta property="og:description"
	content="Empresa que trabaja en mejorar tu Branding en Redes Sociales">
<meta property="og:image" content="images/portada1.png">
<meta property="og:url" content="https://saraquintana.info">
<meta property="og:type" content="website">
<meta property="og:locale" content="es_ES">
<meta property="og:site_name" content="Sara Quintana Diseño gráfico y branding">
<meta property="og:image:alt" content="Estás a un click de cambiar tu imagen en RRSS">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<Layout title=" | Diseño Gráfico y RRSS">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">

        <Rrss/>
		<Rrss1 />
		<Rrss2 />
		<Rrss3 />
		
	</main>
</Layout>