---
import Layout from "../layouts/Layout.astro";
import Herop from "../components/sections/Herop.astro";
import Seo from "../components/sections/Seo.astro";
import Seo1 from "../components/sections/Seo1.astro";
import Seo2 from "../components/sections/Seo2.astro";
import Seo3 from "../components/sections/Seo3.astro";
---
<meta charset="UTF-8">
<link rel="canonical" href="https://saraquintana.info">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
	content="Te ayudamos a optimizar tu web y creamos el contenido perfecto para posicionarte en Google">
<meta property="og:title" content="Sara Quintana te posiciona en Google con un SEO y branding de calidad">
<meta property="og:description"
	content="Con SQ estarás posicionado en Google rápido con una web bonita y optimizada para el SEO">
<meta property="og:image" content="images/portada1.png">
<meta property="og:url" content="https://saraquintana.es">
<meta property="og:type" content="website">
<meta property="og:locale" content="es_ES">
<meta property="og:site_name" content="Sara Quintana Diseño gráfico y SEO">
<meta property="og:image:alt" content="Estás a un click de posicionarte en Google">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<Layout title=" | Diseño Gráfico y Marketing">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">

		<Seo />
		<Seo1 />
		<Seo2 />
		<Seo3 />
		
	</main>
</Layout>