---
import Layout from '../layouts/Layout.astro';
import Terminos from '../components/sections/Terminos.astro';

---

<Layout title=" | Términos y Condiciones">
    <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
        
        <Terminos />
    </main>
</Layout>
