---
import Layout from "../layouts/Layout.astro";
import Tutoriales from "../components/sections/Tutoriales.astro";
import Tutoriales1 from "../components/sections/Tutoriales1.astro";
import Tutoriales2 from "../components/sections/Tutoriales2.astro";
import Tutoriales3 from "../components/sections/Tutoriales3.astro";

---
<meta charset="UTF-8">
<link rel="canonical" href="https://saraquintana.info">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
	content="Aprende GRATUITAMENTE a crear y desarrolar tu marca">
<meta property="og:title" content="Sara Quintana Diseños CREATIVOS para redes sociales">
<meta property="og:description"
	content="Tutoriales GRATUITOS para aprender a desarrollar una marca">
<meta property="og:image" content="images/portada1.png">
<meta property="og:url" content="https://saraquintana.info">
<meta property="og:type" content="website">
<meta property="og:locale" content="es_ES">
<meta property="og:site_name" content="Sara Quintana Diseño gráfico y Marketing">
<meta property="og:image:alt" content="Estás a un click de cambiar tu conocimiento de Marketing">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<Layout title=" | Diseño Gráfico y RRSS">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">

        <Tutoriales/>
		<Tutoriales1 />
		<Tutoriales2 />
		<Tutoriales3 />
		
	</main>
</Layout>