---
import Layout from "../layouts/Layout.astro";
import Herop from "../components/sections/Herop.astro";
import Web from "../components/sections/Web.astro";
import Web1 from "../components/sections/Web1.astro";
import Web2 from "../components/sections/Web2.astro";
import Web3 from "../components/sections/Web3.astro";
import Web4 from "../components/sections/Web4.astro";
import Web5 from "../components/sections/Web5.astro";
---
<meta charset="UTF-8">
<link rel="canonical" href="https://saraquintana.info">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
	content="Te posicionamos en Google con una web optimizada con la mejor tecnología Astro">
<meta property="og:title" content="Webs optimizadas para posicionarte en Google">
<meta property="og:description"
	content="Creamos páginas web simples y optimizadas para posicionarte en Google">
<meta property="og:image" content="images/portada1.png">
<meta property="og:url" content="https://saraquintana.es">
<meta property="og:type" content="website">
<meta property="og:locale" content="es_ES">
<meta property="og:site_name" content="Sara Quintana Diseño gráfico y creación de webs SEO">
<meta property="og:image:alt" content="Estás a un click de cambiar tu futuro">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<Layout title=" | Diseño Gráfico y Marketing">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">

		<Web />
		<Web1 />
		<Web2 />
		<Web3 />
		<Web4 />
		<Web5 />
		
	</main>
</Layout>