---
import Container from "../shared/Container.astro";
import Navitem from "../shared/Navitem.astro";
import Button from "../shared/Button.astro";

const navItems = [
    { href: "/diseño", text: "Diseño" },
    { href: "/web", text: "Web" },
    { href: "/seo", text: "SEO" },
    { href: "/tutoriales", text: "Tutoriales" },
];
---

<header 
    id="navbar" 
    class="fixed inset-x-0 top-0 z-50 py-6 transition-all duration-300 ease-in-out bg-transparent"
>
    <Container>
        <nav class="w-full flex justify-between gap-6 relative">
            <!-- Logo -->
            <div class="min-w-max inline-flex relative">
                <a href="/" class="relative flex items-center gap-3">
                    <div class="relative w-7 h-7 overflow-hidden flex rounded-xl">
                       <img src="logos/logo.svg" alt="SaraQuintana">
                    </div>
                   
                </a>
            </div>

            <!-- Overlay -->
            <div data-nav-overlay aria-hidden="true" class="fixed hidden inset-0 lg:hidden bg-box-bg bg-opacity-50 backdrop-blur-xl"></div>
            
            <!-- Navbar -->
            <div 
                data-navbar 
                class="flex h-0 overflow-hidden lg:!h-auto lg:scale-y-100 duration-300 ease-linear flex-col gap-y-6 gap-x-4 lg:flex-row w-full lg:justify-between lg:items-center absolute lg:relative top-full lg:top-0 bg-body lg:bg-transparent border-x border-box-border lg:border-x-0"
            >
                <ul class="border-t border-box-border lg:border-t-0 px-6 lg:px-0 pt-6 lg:pt-0 flex flex-col lg:flex-row gap-y-4 gap-x-3 text-lg text-heading-2 w-full lg:justify-center lg:items-center">
                    {navItems.map(item => <Navitem {...item} />)}
                </ul>
            </div>

            <!-- Botones -->
            <div class="min-w-max flex items-center gap-x-6">
                <!-- Proyectos -->
                <a href="/proyectos" class="text-lg font-medium text-heading-2 hover:text-primary transition">
                    Proyectos
                </a>

                
                
                <!-- Botón menú -->
                <button data-toggle-nav data-open-nav="false" class="lg:hidden outline-none w-7 h-auto flex flex-col relative">
                    <span id="line1" class="w-6 h-0.5 rounded-full bg-heading-2 transition-all duration-300 ease-linear"></span> 
                    <span id="line2" class="w-6 origin-center mt-1 h-0.5 rounded-full bg-heading-2 transition-all duration-300 ease-linear"></span> 
                    <span id="line3" class="w-6 mt-1 h-0.5 rounded-full bg-heading-2 transition-all duration-300 ease-linear"></span>                         
                    <span class="sr-only">togglenav</span>
                </button>
            </div>
        </nav>
    </Container>

    <!-- Script para fijar y opacar la barra de navegación -->
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const navbar = document.getElementById("navbar");

            let lastScrollY = window.scrollY;
            let ticking = false;

            function updateNavbar() {
                const scrollY = window.scrollY;

                if (scrollY > 50) {
                    navbar.classList.add( "bg-opacity-80", "shadow-md");
                } else {
                    navbar.classList.remove("bg-white", "bg-opacity-80", "shadow-md");
                }

                ticking = false;
            }

            window.addEventListener("scroll", () => {
                if (!ticking) {
                    requestAnimationFrame(updateNavbar);
                    ticking = true;
                }
            });
        });
    </script>
</header>